<nav class="shadow-sm fixed top-0 w-full bg-white z-50">
    <div class="container mx-auto flex justify-center gap-12 font-medium pt-4">
        <a [ngClass]="{ activeLink: isActive('/home'), inactiveLink: !isActive('/home') }" routerLink="/home">Time Calculator</a>
        <a [ngClass]="{ activeLink: isActive('/encode-base64'), inactiveLink: !isActive('/encode-base64') }" routerLink="/encode-base64">Encode Base64</a>
        <a [ngClass]="{ activeLink: isActive('/decode-base64'), inactiveLink: !isActive('/decode-base64') }" routerLink="/decode-base64">Decode Base64</a>
        <a [ngClass]="{ activeLink: isActive('/encode-base64-file'), inactiveLink: !isActive('/encode-base64-file') }" routerLink="/encode-base64-file">Encode Base64 (File)</a>
        <!-- <a [ngClass]="{ activeLink: isActive('/text-compare'), inactiveLink: !isActive('/text-compare') }" routerLink="/text-compare">Text Compare</a> -->
        <a [ngClass]="{ activeLink: isActive('/summary'), inactiveLink: !isActive('/summary') }" routerLink="/summary">Summary (Run Result)</a>
        <a [ngClass]="{ activeLink: isActive('/line-filter'), inactiveLink: !isActive('/line-filter') }" routerLink="/line-filter">
            Line Filter <span class="text-blue-600 text-sm" *ngIf="true">new!</span>
        </a>
        <a [ngClass]="{ activeLink: isActive('/indexing/snapshot-indexing'), inactiveLink: !isActive('/indexing/snapshot-indexing') }" routerLink="/indexing/snapshot-indexing">
            Snapshot Indexing <span class="text-blue-600 text-sm" *ngIf="true">new!</span>
        </a>

    </div>
</nav>
<div class="pt-10">
    <router-outlet></router-outlet>
</div>