<p>home works!</p>
<h1 class="text-3xl font-bold underline">Hello world!</h1>
<form action="">
  <h1>job</h1>
  <app-input-time [(ngModelValue)]="job.hours" labelText="Jam"></app-input-time>
  <app-input-time
    [(ngModelValue)]="job.minutes"
    labelText="Menit"
  ></app-input-time>
  <app-input-time
    [(ngModelValue)]="job.seconds"
    labelText="Detik"
  ></app-input-time>

  <br />
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    type="button"
    (click)="printJobStart()"
  >
    Hitung
  </button>
</form>

<h1>{{ job.startDate }}</h1>
